body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px
}

#main {
    width: 100%;
    padding: 0;
    margin: auto;
}

#head{
    height: 300px;
    background-image: url(./merry.webp)  ;
    margin-bottom: 5px;
    
}

a{
    text-decoration: none;
}

#head-link{
    height: 50px;
    background-color: rgb(184, 169, 169);
    margin-bottom: 5px;
    text-decoration: none;

}

#left{
    width: 250px;
    background-image: url(./caythong.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    min-height: 400px;
    margin-bottom: 5px;
}

#content{
    width: 750px;
    border: 1px solid #2b1212;
    float :left;
    min-height: 400px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#right{
    width: 245px;
    min-height: 400px;
    border: 1px solid #ff2020;
    float: right;
    text-decoration: none;
}
#footer{
    height: 50px;
    clear: both;
    border: 1px solid #000000;
    background-color: #d0d0da;
    text-align: center;
}

